{% extends 'store/main.html' %}
{% load static %}
{% load humanize %}
{% block title %}GrandParts: О нас{% endblock %}

{% block content %}
    <div class="container about_company">
<h1 style="text-align: center">О нас</h1><br><br>
<h5>Компания ООО “GrandParts” является эксклюзивным дистрибьютором завода по Дальневосточному и Сибирскому Федеральному округу.<br><br>
Основным видом деятельности является продажа грузовых автомобилей, малотоннажных грузовиков, спецтехники, запчестей и разных видов прицепов
    (бортовые полуприцепы, цистерны, лесовозы).<br><br>

У компании есть развивающаяся дилерская сеть по Дальневосточному и Сибирскому Федеральному округу. 3 действующих дилерских центра.<br><br>

Собственная выездная команда технических специалистов. Это штатные механики гражданства (КНР) - которые каждый год
    проходят обучение по повышению квалификации на заводе HOWO (SINOTRUK), имеющие подтверждающие сертификаты.<br><br>
    <ul>
        <li>
            Собственный склад запчастей, своевременно пополняющийся ассортиментом.
        </li><br>
        <li>
            Собственные ремонтные боксы на территории базы.
        </li><br>
        <li>
            Отдел послепродажного и гарантийного обслуживания (при гарантийном случае,
    наши механики и менеджер сервисного обслуживания в короткий срок смогут решить Вашу проблему).
        </li><br>


    </ul>

Качество гарантированно. Все машины поставляемые нашей компанией, наши специалисты заказывают по индивидуальному заказу, разные условия
    работ, разные комплектации машин. В нашей компании Вы найдете того самого железного друга, который будет верен вам долгие года.<br><br>
</h5>
    </div>

{% endblock %}