{% extends 'store/main.html' %}
{% load static %}
{% load humanize %}
{% block title %}GrandParts: Политика конфиденциальности{% endblock %}

{% block content %}
<h1>Политика конфиденциальности "GrandParts"</h1><br>


<p>В компании GrandParts мы понимаем важность защиты вашей конфиденциальности и личной информации. Данная Политика конфиденциальности объясняет, как мы собираем, используем и раскрываем вашу личную информацию, когда вы пользуетесь нашим сайтом и услугами. Используя наш сайт и услуги, вы соглашаетесь на сбор, использование и раскрытие вашей личной информации, как описано в данной политике.</p>
	<h2>Сбор личной информации</h2>
	<p>Мы собираем личную информацию, которую вы предоставляете нам при использовании нашего веб-сайта и услуг. Это может включать ваше имя, адрес, номер телефона, адрес электронной почты и платежную информацию. Мы также можем собирать информацию об использовании вами нашего сайта и услуг, такую как ваш IP-адрес, тип браузера и операционная система.</p>
	<h2>Использование личной информации</h2>
	<p>Мы используем вашу личную информацию для предоставления вам наших услуг, обработки ваших заказов, общения с вами и улучшения нашего сайта и услуг. Мы также можем использовать вашу личную информацию для отправки вам маркетинговых сообщений о наших продуктах и услугах.</p>
	<h2>Раскрытие личной информации</h2>
	<p>Мы можем раскрывать вашу личную информацию сторонним поставщикам услуг, которые помогают нам в предоставлении наших услуг, например, платежным и транспортным компаниям. Мы также можем раскрывать вашу личную информацию, если это требуется по закону или для защиты наших прав или прав других лиц.</p>
	<h2>Безопасность личной информации</h2>
	<p>Мы принимаем разумные меры для защиты вашей личной информации от несанкционированного доступа, использования или раскрытия. Однако никакая передача данных через Интернет или электронную систему хранения не может быть гарантирована на 100%.</p>

    <h2>Хранение личной информации</h2>
    <p>Мы будем хранить вашу личную информацию столько, сколько необходимо для предоставления вам наших услуг, а также в соответствии с требованиями закона.</p>

    <h2>Конфиденциальность для детей</h2>
    <p>Наш сайт и услуги не предназначены для лиц моложе 18 лет, и мы сознательно не собираем личную информацию детей.</p>

    <h2>Изменения в настоящей Политике конфиденциальности</h2>
    <p>Мы можем время от времени обновлять настоящую Политику конфиденциальности. Мы уведомим вас о любых изменениях, разместив новую политику на нашем сайте. Советуем вам периодически просматривать настоящую Политику конфиденциальности на предмет изменений.</p>

<h2>Связаться с нами</h2>
    <p>Если у вас есть какие-либо вопросы по поводу настоящей Политики конфиденциальности или наших методов обеспечения конфиденциальности, пожалуйста, свяжитесь с нами по адресу ggg@mail.ru.</p>
    <br>
    <p>Последнее обновление: 01.05.2023</p>

{% endblock %}